/* spacing */

.cartouche{
    border: none;
    background: lightgrey;
}

table, th, td{
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid blue;
  font-family: monospace; 
}

th, td {
  padding: 5px;     
  font-family: monospace; 
}

tr:nth-child(1) {
/*    background-color:lightsteelblue; // Replace it with your desired color */
}

.menu{
    border: none;
}

table.menu td{ 
    padding: 1px;
    border: none;
    font-family: sansserif;
}

table.menu th{ 
    padding: 1px;
    border: none;
    font-family: sansserif;
}



